body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    color: #1a2537;
    background-image:  url(https://images3.alphacoders.com/103/1034504.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: blueviolet;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 88%;
    padding: 10px;
    border: none;   
    position: relative;
    margin-left: 0;
    
}

select {
    font-size: 20px;
    width: 88%;
    padding: 10px;
    border: none;
}

select option[value="Administrador"],
select option[value="Estudiante"] {
    color: black;
}

select option[id="a"] {
    color: #757575;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  rgb(166, 98, 230);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: blueviolet;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: blueviolet;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}




























