
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:  url(https://img.freepik.com/premium-photo/school-locker_854605-1753.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:  url(https://img.freepik.com/free-vector/vector-cartoon-school-college-corridor-with-bright-yellow-lockers-students-pupils-universit_33099-1126.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}




@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}

form {
    color: blueviolet;
    padding-top: 25px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    border-color: black;
    border: solid;
  }
 
  #cancelar{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

#cancelar:hover{
    background-color: rgb(101, 33, 165);
}
input
{
    width: 300px;

}
footer{
    width: 100%;
    height: 200px;
    position: absolute;
    font-size: 10px;  
    border-top:4px solid black;
    background: rgb(49, 47, 47);
}
footer p{
   color: white;
    left: 50px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}